<!-- Button trigger formularioAgregarItem -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Nuevo Item
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Agregue un Nuevo Item!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-4">
          <div class="col">
            <!-- Form Group -->
            <form [formGroup]="itemForm" (ngSubmit)="agregarItem()">
              <!-- Campo Nombre -->
              <div class="form-outline">
                <input formControlName="nombre" type="text" placeholder="Nombre" [value]="newItem.nombre"
                  [(ngModel)]="newItem.nombre" />
                <label class="form-label" for="form6Example1"></label>
                <p *ngIf="itemForm.get('nombre')?.hasError('required')">Campo obligatorio</p>
              </div>
              <hr>
              <!-- Campo Descripcion -->
              <div class="form-outline mb-4">
                <input formControlName="descripcion" type="text" placeholder="Descripción" [value]="newItem.descripcion"
                  [(ngModel)]="newItem.descripcion" />
                <label class="form-label" for="form6Example3"></label>
                <p *ngIf="itemForm.get('descripcion')?.hasError('required')">Campo obligatorio</p>
              </div>
              <hr>
              <!-- Campo Precio -->
              <div class="form-outline mb-4">
                <input formControlName="precio" type="number" placeholder="Precio" />
                <label class="form-label" for="form6Example4"></label>
                <p *ngIf="itemForm.get('precio')?.hasError('required')">Campo obligatorio</p>
              </div>
              <hr>
              <!-- Campo Tipo -->
              <div>
                <div class="form-check">
                  <input formControlName="tipo" class="form-check-input" value="alimento" type="radio"
                    id="flexRadioDefault1" />
                  <label class="form-check-label" for="flexRadioDefault1"> Alimento </label>
                </div>

                <div class="form-check">
                  <input formControlName="tipo" class="form-check-input" value="bebestible" type="radio"
                    id="flexRadioDefault2" />
                  <label class="form-check-label" for="flexRadioDefault2"> Bebestible </label>
                </div>
                <p *ngIf="itemForm.get('tipo')?.hasError('required')">Campo obligatorio</p>
              </div>
              <hr>
              <!-- Campo Imagen -->
              <div class="form-outline mb-4">
                <input formControlName="imagen" type="text" placeholder="Imagen" id="form6Example4" />
                <label class="form-label" for="form6Example4"></label>
                <p *ngIf="itemForm.get('imagen')?.hasError('required')">Campo obligatorio</p>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="ngSubmit" class="btn btn-primary" data-bs-dismiss="modal">Agregar Item</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>