<!-- Button trigger formularioAgregarItem -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="inicio()">
  Nuevo Item
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Agregue un Nuevo Item!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-4">
          <div class="col">
            <!-- Form Group -->
            <form [formGroup]="itemForm" (ngSubmit)="agregarItem()">
              <!-- Campo Nombre -->
              <div class="parte">
                <label for="nombreItem">Nombre Item</label>
                <input type="text" formControlName="nombre" class="form-control form-control-lg">
                <div class="text-danger"
                  *ngIf="itemForm.get('nombre')?.hasError('required') && itemForm.get('nombre')?.touched">
                  <span>El campo es obligatorio</span>
                </div>
              </div>
              <!-- Campo Detalle -->
              <div class="parte">
                <label for="detalleItem">Detalle</label>
                <textarea class="form-control" formControlName="detalle" required rows="3"></textarea>
                <div class="text-danger"
                  *ngIf="itemForm.get('detalle')?.hasError('required') && itemForm.get('detalle')?.touched">
                  <span>El campo es obligatorio</span>
                </div>
              </div>
              <!-- Campo Precio -->
              <div class="parte">
                <label for="precioItem">Precio</label>
                <input type="number" formControlName="precio" class="form-control form-control-lg" required>
                <div class="text-danger"
                  *ngIf="itemForm.get('precio')?.hasError('required') && itemForm.get('precio')?.touched">
                  <span>El campo es obligatorio</span>
                </div>
              </div>
              <!-- Campo Tipo -->
              <div class="parte">
                <label for="precioItem">Categoria de Item</label>
                <div class="form-check">
                  <div *ngFor="let categoria of categorias">
                    <input type="radio" formControlName="categoria" class="form-check-input" value="{{categoria}}"
                      id="{{categoria}}">
                    <label class="form-check-label" for="{categoria}">{{categoria}}</label>
                  </div>
                </div>
                <div class="text-danger"
                  *ngIf="itemForm.get('categoria')?.hasError('required') && itemForm.get('categoria')?.touched">
                  <span>El campo es obligatorio</span>
                </div>
              </div>
              <!-- Campo Subcategoria -->
              <div class="parte">
                <label for="precioItem">Subcategoria de Item</label>
                <div class="form-check">
                  <select class="form-control" formControlName="subcategoria">
                    <option selected>Seleccionar una subcategoria</option>
                    <option *ngFor="let subcategoria of subcategorias">{{subcategoria}}</option>
                  </select>
                </div>
                <div class="text-danger"
                  *ngIf="itemForm.get('categoria')?.hasError('required') && itemForm.get('categoria')?.touched">
                  <span>El campo es obligatorio</span>
                </div>
              </div>
              <!-- Campo Imagen -->
              <div class="parte">
                <div class="custom-file">
                  <input formControlName="imagen" type="file" class="custom-file-input" id="customFileLang" lang="es"
                    accept="image/png, image/gif, image/jpeg" required>
                  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>
                <div class="text-danger"
                  *ngIf="itemForm.get('imagen')?.hasError('required') && itemForm.get('imagen')?.touched">
                  <span>El campo es obligatorio</span>
                </div>
              </div>
              <button type="button" class="botonAbajo btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="ngSubmit" class="botonAbajo btn btn-primary" data-bs-dismiss="modal">Agregar Item</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
