<ng-container *ngIf="false">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Foto</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Accion</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Taco Picao a choro</td>
                        <td>Un taco pa los cogoteros</td>
                        <td>159723</td>
                        <td><img src="../../assets/Arquitectura Logica - Page 1.png" alt=""></td>
                        <td>3</td>
                        <td>470252</td>
                        <td>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="true">
<div class="container">
    <h5 class="carro">Mi Pedido</h5>
    <div class="center">
        <img src="" alt="">
        <h4>Tu carrito está vacío!</h4>
        <h6>Agregale un producto!</h6>
        <button class="btn btn-outline-info bg-dark" type="submit" routerLink="/cliente">VOLVER AL MENÚ</button>
    </div>
</div>
</ng-container>