@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}
.card{
    height: 60vh;
    width: 25px;
    padding: 25px;
}
.center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: beige;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 8%;
    background-color: gainsboro;
}
.carro{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
--.imgtmn{
    width: 25%;
    height: 25%;
}