.lista-pedido {
  padding-top: 73px;
}

.div-1 {
  margin-left: 19px;
  margin-right: 18px;
  padding-bottom: 10px;
}

.bg-container {
  background: var(--bs-gray-200);
}

.text-center {
  text-align: center!important;
}

.align-self-center {
  align-self: center!important;
}

.h1-1 {
  margin-bottom: 0px;
}

.l-gp {
  margin-bottom: 7px;
  padding-bottom: 0px;
}
