.cartanasta {
  background-color: blanchedalmond;
}

.tacokun {
  background-color: aqua;
}

.bebichan {
  background-color: aquamarine;
}

.flota {
  margin-top: 10%;
}

.nopadding {
  padding-left: 0 !important;
  margin: 0 !important;
}

.center {
  width: 120px;
  margin: 0;
}


