<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Carta #{{mesaId}}</title>
</head>

<body>
  <div class="header">
    <h1 style="text-align: center;">La Mexicana Taqueria</h1>
  </div>
  <div class="container cont-1">
    <div class="row cont-1-row-1">
      <div class="col cont-1-row-1-row-1">
        <h1>Carta</h1>
        <p class="mesa" bs-cut="1">Mesa #{{mesaId}}</p>
      </div>
      <div class="col text-center align-self-center">
        <button class="btn btn-warning btn-car" type="button" routerLink="/carrito" (click)=carritoSalida()>
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="badge badge-car" style="top: -10px; right: -4px;">{{totalItems}}</span>
        </button>
      </div>
    </div>
  </div>
  <hr class="linea" />
  <div *ngFor="let categoria of cat" class="container cont-2">
    <div class="cont-2-div">
      <a class="btn btn-sm collapsee" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-1"
        href="#collapse-1" role="button">{{categoria.categoria}}</a>
      <div id="collapse-1" class="collapse show collapse-show">
        <div *ngFor="let subcategoria of categoria.subcategoria">
          <h4 class="text-center">{{subcategoria}}</h4>
          <div *ngFor="let item of listaItems">
            <div *ngIf="item.Item.categoria == categoria.categoria && item.Item.subcategoria == subcategoria
              && item.Item.estado != 'eliminado'">
              <div class="d-md-flex justify-content-md-center card-div">
                <div>
                  <div class="card card-">
                    <div class="card-body card-body-">
                      <div class="row">
                        <div class="col col-info">
                          <h5>{{item.Item.nombre}}</h5>
                          <p>{{item.Item.detalle}}</p>
                        </div>
                        <div class="col col-card">
                          <div class="row">
                            <div class="col">
                              <img
                                src="https://static.vecteezy.com/system/resources/previews/007/062/757/non_2x/shawarma-character-buritto-fast-food-cartoon-chicken-vegetables-roll-meal-doner-gebab-shawarma-flat-cartoon-illustration-arabic-eastern-food-burittos-mexican-food-free-vector.jpg"
                                width="100" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col precio">
                              <p>$ {{item.Item.precio}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col contador">
                              <div class="input-group input-group-sm contador-1">
                                <button class="btn btn-primary btn-sm btn-1" type="button" (click)=resta(item)>-
                                </button>
                                <input class="form-control form-control-sm" type="number" inputmode="numeric" min="1"
                                  step="1" value={{item.Cantidad}} />
                                <button class="btn btn-primary btn-sm btn-2" type="button" (click)=suma(item)>+
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div *ngIf="item.Item.estado == 'disponible'" class="col">
                              <button class="btn btn-primary btn-sm btn-add" type="button"
                                (click)=agregarCarro(item)>Agregar al Carro</button>
                            </div>
                            <div *ngIf="item.Item.estado != 'disponible'" class="col">
                              <button class="btn btn-secondary btn-sm" disabled type="button">Agregar al Carro</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
