<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="formulario-item">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="itemForm" (ngSubmit)="guardarItem()">
      <!-- Campo Nombre -->
      <div class="parte">
        <label for="nombreItem">Nombre Item</label>
        <input type="text" formControlName="nombre" required class="form-control form-control-lg">
        <div class="text-danger"
          *ngIf="itemForm.get('nombre')?.hasError('required') && itemForm.get('nombre')?.touched">
          <span>El campo es obligatorio</span>
        </div>
      </div>
      <!-- Campo Detalle -->
      <div class="parte">
        <label for="detalleItem">Detalle</label>
        <textarea class="form-control" formControlName="detalle" required rows="3"></textarea>
        <div class="text-warning"
          *ngIf="itemForm.get('detalle')?.hasError('required') && itemForm.get('detalle')?.touched">
          <span>El campo esta vacio</span>
        </div>
      </div>
      <!-- Campo Precio -->
      <div class="parte">
        <label for="precioItem">Precio</label>
        <input type="number" formControlName="precio" class="form-control form-control-lg" required>
        <div class="text-danger"
          *ngIf="itemForm.get('precio')?.hasError('required') && itemForm.get('precio')?.touched">
          <span>El campo es obligatorio</span>
        </div>
      </div>
      <!-- Campo Tipo -->
      <div class="parte">
        <label for="categoriaItem">Categoria de Item</label>
        <div class="form-check">
          <div *ngFor="let categoria of cat">
            <input type="radio" formControlName="categoria" class="form-check-input" value="{{categoria.categoria}}" (change)="changeCategoria($any($event).target.id)"
              id="{{categoria.categoria}}">
            <label class="form-check-label" for="{categoria.categoria}">{{categoria.categoria}}</label>
          </div>
        </div>
        <div class="text-danger"
          *ngIf="itemForm.get('categoria.categoria')?.hasError('required') && itemForm.get('categoria.categoria')?.touched">
          <span>El campo es obligatorio</span>
        </div>
      </div>
      <!-- Campo Subcategoria -->
      <div class="parte">
        <label for="subcategoriaItem">Subcategoria de Item</label>
        <div class="form-check">
          <select class="form-control" formControlName="subcategoria">
            <option selected>Seleccionar una subcategoria</option>
            <option *ngFor="let subcat of subcategorias">{{subcat}}</option>
          </select>
        </div>
        <div class="text-danger"
          *ngIf="itemForm.get('categoria')?.hasError('required') && itemForm.get('categoria')?.touched">
          <span>El campo es obligatorio</span>
        </div>
      </div>
      <div class="parte">

      </div>
      <div>
        <div class="input-group">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="modal.close('save click')">Guardar</button>
        </div>
        <span [ngClass]="errorclass">{{errormessage}}</span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button style="display:none" type="button" class="btn btn-outline-dark"
      (click)="modal.close('save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-primary" #popupbtn id="popupbtn" (click)="open('')">
  Nuevo Item
</button>

<hr>

<pre></pre>
