body {
  background: #FFFCF5;
}

.header {
  background: linear-gradient(160deg, #0C4040, #BF9E80 50%, #F2522E 100%);
  padding-top: 11px;
  padding-bottom: 3px;
}

.container {
  margin-top: 16px;
  position: sticky;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}
