<table class="table">
  <thead>
    <tr>
      <th scope="col">ID Item</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Disponibilidad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <td *ngFor="let item of foodList"> {{item.id}} </td>
      <td *ngFor="let item of foodList"> {{item.nombre}} </td>
      <td *ngFor="let item of foodList"> {{item.descripcion}} </td>
      <td *ngFor="let item of foodList"> {{item.precio}} </td>
      <td *ngFor="let item of foodList"> {{item.disponibilidad}} </td>
      <td *ngFor="let item of foodList"> Borrar Modificar </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID Item</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Disponibilidad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <td *ngFor="let item of drinkList"> {{item.id}} </td>
      <td *ngFor="let item of drinkList"> {{item.nombre}} </td>
      <td *ngFor="let item of drinkList"> {{item.descripcion}} </td>
      <td *ngFor="let item of drinkList"> {{item.precio}} </td>
      <td *ngFor="let item of drinkList"> {{item.disponibilidad}} </td>
      <td *ngFor="let item of drinkList"> Borrar Modificar </td>
    </tr>
  </tbody>
</table>

<form (ngSubmit)="addItem()">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text"  placeholder="Nombre" name="nombre" class="form-control" [value]="newItem.nombre" [(ngModel)]="newItem.nombre" />
        <label class="form-label" for="form6Example1"></label>
      </div>
    </div>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="text" placeholder="Descripción"  class="form-control" [value]="newItem.descripcion" [(ngModel)]="newItem.descripcion" />
    <label class="form-label" for="form6Example3"></label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input type="number" placeholder="Precio" class="form-control" />
    <label class="form-label" for="form6Example4"></label>
  </div>

  <!-- Default radio -->
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
  <label class="form-check-label" for="flexRadioDefault1"> Alimento </label>
</div>

<!-- Default checked radio -->
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked/>
  <label class="form-check-label" for="flexRadioDefault2"> Bebestible </label>
</div>

 <!-- Text input -->
 <div class="form-outline mb-4">
  <input type="text" placeholder="Imagen" id="form6Example4" class="form-control" />
  <label class="form-label" for="form6Example4"></label>
</div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Crear Item</button>
</form>
