<!--tablas-->
<div class="col-10 justify-content-center">
  <div class="tableContainer">
    <table class="table pb-10">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Disponibilidad</th>
          <th scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaItems" class="table-active">
          <td> {{item.nombre}} </td>
          <td> {{item.descripcion}} </td>
          <td> {{item.precio}} </td>
          <td> {{item.disponibilidad}} </td>
          <td>
            <!-- Botón Modificar -->
            <button class="boton-modificar" data-bs-toggle="modal" data-bs-target="#modalEditar">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M0 512L32 352 292.7 91.3l128 128L160 480 0 512zM443.3 196.7l-128-128L384 0 512 128l-68.7 68.7z"/>
              </svg>
            </button>

          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <!--formulario para agregar items-->
  <div class="p-3 p-4 ">
    <app-formularioAgregarItem (newItemEvent)="doSomething()"></app-formularioAgregarItem>
  </div>
</div>

<app-formulario-modificar-item></app-formulario-modificar-item>

