<!--tablas-->
<div class="col-10 justify-content-center">
  <div class="tableContainer">
    <table class="table pb-10">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Estado</th>
          <th scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaItems" class="table-active">
          <td> {{item.nombre}} </td>
          <td> {{item.detalle}} </td>
          <td> {{item.precio}} </td>
          <td class="text-capitalize"> {{item.estado}} </td>
          <td>
            <ul class="navega">
              <li>
                <!-- Botón Modificar -->
                <button class="boton-modificar" data-bs-toggle="modal" data-bs-target="#modalEditar">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="M0 512L32 352 292.7 91.3l128 128L160 480 0 512zM443.3 196.7l-128-128L384 0 512 128l-68.7 68.7z" />
                  </svg>
                </button>
              </li>
              <li>
                <!-- Botón Eliminar -->
                <button class="boton-modificar" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                  </svg>
                </button>
                <!-- Modal para eliminar Item -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">¿Está seguro del cambio?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ¿Está seguro que desea eliminar este producto del menú?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="eliminarItem(item._id)">Confirmar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--formulario para agregar items-->
  <div class="p-3 p-4 ">
    <app-formularioAgregarItem (newItemEvent)="doSomething()"></app-formularioAgregarItem>
  </div>
</div>
<app-formulario-modificar-item></app-formulario-modificar-item>
