
<div id="mySidenav" class="sidenav">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/Arquitectura Logica - Page 1.png" alt="logo" width="40%" height="40%" class="d-inline-block align-text-mid">
  </a>
  <a routerLink="items">Items</a>
  <a routerLink="categorias">Categorias</a>
  <a routerLink="eliminados">Items Eliminados</a>
</div>

<!-- Use any element to open the sidenav -->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" style="padding-left: 200px;">
  <router-outlet></router-outlet>
</div>
<!-- FIN SIDEBAR -->

<!-- INICIO CONTENIDO -->
