<!--tablas-->
<div class="justify-content-center m-5">
    <div class="tableContainer">
      <table class="table table-success table-stripped table-bordered border-danger caption-top">
        <caption style="color: #23974a;
        font-size: 25px; font-style:bolder; padding-left:5%;">Comida</caption>
        <thead>
          <tr>
            <th>Subcategoría</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody>
          <!-- <ng-container *ngFor="let item of listaItems"> -->
            <ng-container *ngFor="let subcategoria of listaCategorias[0].subcategoria; let z = index ">
            <tr class="table-active">
              <td class="text-capitalize text-center" style="font-size:35px; font-style:bold;">{{listaCategorias[0].subcategoria[z]}}</td>
              <td>
                <ul class="navega">
                  <li>
                    <!-- Botón Modificar (click)="editarItem(item._id) -->
                    <button class="boton-modificar"(click)="editarCategoria(subcategoria._id)">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                          d="M0 512L32 352 292.7 91.3l128 128L160 480 0 512zM443.3 196.7l-128-128L384 0 512 128l-68.7 68.7z" />
                      </svg>
                    </button>
                  </li>
                  <li>
                    <!-- Botón Eliminar (click)="cambiarEstado($event,item._id,'eliminar')"-->
                    <button class="boton-eliminar" (click)="cambiarEstado($event,subcategoria._id,'eliminar')">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                          d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                      </svg>
                    </button>
                  </li>
                </ul>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <hr class="hr" />
    <div class="justify-content-center">
        <div class="tableContainer">
          <table class="table table-warning table-stripped table-bordered border-danger caption-top pb-10">
            <caption style="color: #978f23;
            font-size: 25px; font-style:bolder; padding-left:5%;  ">Bebestibles</caption>
            <thead>
              <tr>
                <th>Subcategoría</th>
                <th>Modificar</th>
              </tr>
            </thead>
            <tbody>
              <!-- <ng-container *ngFor="let item of listaItems"> -->
                <ng-container *ngFor="let subcategoria of listaCategorias[1].subcategoria; let z = index ">
                <tr class="table-active">
                  <td class="text-capitalize text-center" style="font-size:35px; font-style:bold;">{{listaCategorias[1].subcategoria[z]}}</td>
                  <td>
                    <ul class="navega">
                      <li>
                        <!-- Botón Modificar (click)="editarItem(item._id) -->
                        <button class="boton-modificar"(click)="editarCategoria(subcategoria._id)">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                              d="M0 512L32 352 292.7 91.3l128 128L160 480 0 512zM443.3 196.7l-128-128L384 0 512 128l-68.7 68.7z" />
                          </svg>
                        </button>
                      </li>
                      <li>
                        <!-- Botón Eliminar (click)="cambiarEstado($event,item._id,'eliminar')"-->
                        <button class="boton-eliminar" (click)="cambiarEstado($event,subcategoria._id,'eliminar')">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
    <!--formulario para agregar items-->
    <div class="p-3 p-4 ">
      <button class="btn-danger rounded" style="padding:9px; font-size:24px; color: black">Nueva Categoría</button>
    </div>
    <form [formGroup]="categoriaForm" (ngSubmit)="crearCategoria()">
      <!-- Campo Categoria -->
      <div class="parte">
        <label for="categoriaItem">Categoria de Item</label>
        <div class="form-check">
          <div *ngFor="let categoria of listaCategorias">
            <input type="radio" formControlName="categoria" class="form-check-input" value="{{categoria.categoria}}"
              (change)="changeCategoria($any($event).target.id)" id="{{categoria.categoria}}">
            <label class="form-check-label" for="{categoria.categoria}">{{categoria.categoria}}</label>
          </div>
        </div>
        <div class="text-danger"
          *ngIf="categoriaForm.get('categoria.categoria')?.hasError('required') && categoriaForm.get('categoria.categoria')?.touched">
          <span>El campo es obligatorio</span>
        </div>
      </div>
      <!-- Campo Subcategoria -->

      <div class="parte">
        <label for="subcategoriaItem">Subcategoria de Item</label>
          <label for="nombreItem">Nombre Item</label>
          <input type="text" formControlName="subcategoria" required class="form-control">
      </div>
    </form>
  </div>
</div>
